* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #7f287cfe;
    --light: antiquewhite;
    --primary-hover: #a7249c;
    --bc-light: #4399822b;
    --bc-dark: #090810;
}

body {
    /* padding-bottom: 50px; */
    background-color: var(--bc-dark);
    /* font-family: 'Poppins', sans-serif; */
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light);
    z-index: 1;
}

.brand-title {
    text-decoration: none;
    color: antiquewhite;
}
.brand-title::before {
    content: "Focus on Space";
    font-size: 1.8rem;
    margin: .5rem;
    cursor: pointer;
}

@media (max-width: 761px) {
    .brand-title::before {
        content: "FoS";
    }
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
    transition: background-color .3s;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--light);
    padding: 1rem;
    letter-spacing: 2px;
    display: block;
}

.navbar-links li:hover {
    background-color: var(--primary-hover);
}

.toggle-button {
    color: var(--light);
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--light);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.home-container {
    height: 100vh;
}

.home-container img {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: animate 8s ease-in-out infinite
    /* , backgroundmove 16s linear infinite; */
}

.star.star1 {
    animation-delay: 0s;
    background: url(img/star1.png);
}

.star.star2 {
    animation-delay: -1s;
    background: url(img/star2.png);
}

.star.star3 {
    animation-delay: -2s;
    background: url(img/star4.png);
}

.star.star4 {
    animation-delay: -3s;
    background: url(img/star7.png);
}

@keyframes animate {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        opacity: 0;
    }
    
    10%,
    30%,
    50%,
    70%,
    90% {
        opacity: 1;
    }
}

@keyframes backgroundmove {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}

.box {
    position: absolute;
    top: 10%;
    right: 5%;
    color: antiquewhite;
}

.box span,
.box .clock {
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    font-weight: lighter;
}

.clock span {
    display: flex;
    justify-content: center;
    border: 1px solid var(--primary-hover);
    width: 32px;
}

.clock #hour,
.clock #minutes {
    border-right: none;
}

.home-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80%;
    left: 30%;
    width: 50%;
    transform: translate(-30%, -80%);
    color: antiquewhite;
}

.title h1 {
    font-size: 3.4rem;
    font-weight: 700;
    
}

.title h2 {
    font-size: 1.8rem;
    font-weight: lighter;
}

.controls {
    margin-top: 2em;
}

.controls button {
    margin-right: 10px;
    margin-bottom: 6px;
    width: 150px;
    height: 45px;
    font-size: 1.1em;
    background-color: transparent;
    color: var(--light);
    background-color: var(--primary-color);
    border: none;
    border-radius: .25em;
    cursor: pointer;
    transition: background-color .3s;
  }

  .controls button:hover {
    background-color: var(--primary-hover);
  }

@media (max-width: 475px) {
    .home-content {
        top: 70%;
        width: 100%;
        text-align: center;
    }

    .title h1 {
        font-size: 3rem;
        line-height: 1.2;
        padding-bottom: .8rem;
    }
    
    .title h2 {
        font-size: 1.2rem;
    }

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

section {
    background: url(img/star6.png);
    padding: 3em 0;
}

.container {
    position: relative;
    margin-inline: auto;
    width: min(90%, 80.5rem);
    /* height: 100vh; */
    padding: 3rem 0;
    color: antiquewhite;
}

.container h1 {
    text-align: center;
    padding-block: 1em;
    font-size: 2.8rem;
    font-weight: 700;
}

.container h1::before,
.container h1::after {
    content: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
    font-size: 1px;
    background: var(--light);
}

.split{
    display: flex;
    flex-direction: column;
}

.split>*+* {
    margin: 2em 0;
}


@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 3em;
        margin-top: 0;
    }

}

.split a {
    text-decoration: none;
    color: var(--light);
}




